[submodule "front"]
	path = front
	url = https://github.com/Vortek-API/FrontRepo
	branch = main

[submodule "back"]
	path = back
	url = https://github.com/Vortek-API/BackRepo
	branch = main

[submodule "docs"]
	path = docs
	url = https://github.com/Vortek-API/DocsRepo
	branch = main
